<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167513720473-26o2bnurgp7kqp0vsdtpgheombt03o55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167513720473-26o2bnurgp7kqp0vsdtpgheombt03o55</string>
	<key>API_KEY</key>
	<string>AIzaSyC1cDpXpKl8RnPw78PLYYI2qgtnWIVXI3o</string>
	<key>GCM_SENDER_ID</key>
	<string>167513720473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hajareid.CareCheck</string>
	<key>PROJECT_ID</key>
	<string>carecheck-cd364</string>
	<key>STORAGE_BUCKET</key>
	<string>carecheck-cd364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167513720473:ios:c1425c8171022e8f035a08</string>
</dict>
</plist>